.gradle/
build/
local.properties
.pytest_cache
# output of HeapDumpOnOutOfMemoryError
*.hprof
*.log
.DS_Store
outputs/
gh-pages-generated/
# idea
*.iml
**/.idea/*
!.idea/dictionaries/
# Layout inspector captures
captures/
# gradle-profiler
gradle-user-home
profile-out*
