<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.avito.android.test" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".VisibilityActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
